.main
  .rightheader
    .rightheader__group
      .rightheader__group__groupname
        = @group.name
      .rightheader__group__memberlist
        Member：
        .rightheader__group__memberlist__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .rightheader__editbutton
      = link_to edit_group_path(@group.id) do
        Edit

  .messagefield
    = render @messages

  .form
    = form_with model: [@group, @message], local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
