.side
  .side__username
    .tops
      .tops__topname
        = current_user.name
      .tops__topicons
        = link_to new_group_path , class: "iconleft" do
          = icon('fas','edit')
        = link_to edit_user_path(current_user) , class: "iconright" do
          = icon('fas','cog')
  .side__grouplist
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません